/*Fonts*/
@font-face {
    font-family: "Zamenitelj";
    src: url(http://www.dafont.com/theme.php?cat=405&text=family) format("truetype");
}

@font-face {
    font-family: "LucidaGrande";
    src: url(http://www.dafont.com/black­chancery.font?text=Lucida+grande) format("truetype");
}


.background-sample{
    opacity: 0.6;
    display:block;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
}

.wrapper {
    margin: auto;
    width: 1024px;
}
footer{
    height: 1225px;
    background-image: url("../img/bg.png");
}


.centered{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.list-bar{
    list-style-type: none;
    margin: 0;
    padding: 0
}
.list-bar li{
    float: right;
}
.list-bar li a{
    display: block;
    /*color: white;*/
    text-align: center;
    text-decoration: none;

}

/*Header styles*/
header {
    /*background-color: red;*/
    height: 120px;
}

.logo-wrap{
    /*background-color: blue;*/
    height: 100%;
    width: 30%;
    float: left;
}
.logo-wrap p{
    display: inline-block;
    font-family: "Zamenitelj";
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    top: 10px;
    left: -20px;
    letter-spacing: 2.4px;
    color: #b3b3b2;
}

.menu-wrap{
    /*background-color: green;*/
    height: 100%;
    width: 70%;
    float: left;
}

/* Top right top bar styles*/
.top-bar{
    /*background-color: aqua;*/
    width: 100%;
    height: 25%;

}


.top-bar-list li a {
    padding: 6px 7px;
    z-index: 3;
    position: relative;
}

.top-bar-list {
    font-size: 13px;
    font-family: "Arial";
    color: #b3b3b2;
}

.top-bar-list li{
    margin-right: 5px;
}

/*Basket bar */
.basket-bar{
    width: 427px;
    height: 390px;
    background-color: #f4f4f4;
    position: relative;
    left: 290px;
    top: 45px;
    display: none;
    /*opacity: 0.4;*/
}
.basket-bar-content-wrap{
    display: inline-block;
    margin: 0px 13px;
    margin-top: 13;
    width: 400px;
    height: 300px;
    /*background-color: yellow;*/
    border-bottom: 1px dashed #484848;
}
.basket-bar-content-wrap .thumbnail{
    margin: 0px 15px;
}
.basket-bar-content{
    width: 175px;
    height: 80%;
    /*background-color: #b3b3b2;*/
    float: left;
    font-family: Arial;
}
.cross{
    position: relative;
    left: 124px;
    top: 3px;
    float:left;
}
.basket-button .active-img{
    top: -10px;
    z-index: 2;
    display: none;
}
.clicked{
    color: white;
}

.black-button{
    width: 25px;
    height: 25px;
    background-color: #484848;
    color: #f4f4f4;
    position: relative;
    right: 250px;
}
.basket-bar-content .product-caption{
    font-family: "Zamenitelj";
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 4px;
    margin-left: 11px;
}
.basket-bar-content .points {
    font-size:13px;
    margin-left: 10px;
}
.product-info{
    font-family: "Arial";
    font-size: 12px;
}
.product-info .left-column, .basket-bar-content .right-column{
    width: 50%;
    height: 60%;
    float: left;
    /*background-color: white;*/

}
.first-p{
    margin-top: 20px;
}
.last-p{
    margin-top: 15px;
}
.no-margin-left{
    margin-left: 2px !important;
}
.subtotal-margin{
    margin-top: 30px !important;
}

.product-info .left-column p{
    margin-left: 11px;
}
.product-info .right-column p{
    text-align: right;
    margin-right: 29px;
}
.delivery-charges-wrap{
    width: 100%;
    height: 32px;
    /*background-color: green;*/
    clear: both;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    line-height: 32px;
}
.delivery-charges-wrap span{
    text-decoration: underline;
}
.arrowed{
    background-image: url("../img/arrow2.png");
    height: 26px;
    width: 143px;
    margin-left: 35px;
    margin-top: 16px;
    text-transform: uppercase;
    text-align: center;
    font-family: "Zamenitelj";
    line-height: 26px;
    color: white;
}
.basket-bar-close{
    margin: 0px 13px;
    width: 400px;
    height: 49px;
    /*background-color: orange;*/
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;

}


.basket-bar-buttons{
    /*background-color: aqua;*/
    clear: both;
    width: 100%;
    height: 20%;
}
.button-left, .button-right{
    width: 50%;
    height: 100%;
    /*background-color: blue;*/
    float: left;
}
.button-left{
    /*background-color: orange;*/
}




.active-img{
    position: absolute;
    display: inline;
    z-index: 0;
    top:-35px;
}
.active{
    color: white;
    text-transform: uppercase;
    font-family: "Zamenitelj";
    font-size: 11px;
}
/* Top right bottom bar styles */
.bottom-bar{
    /*background-color: crimson;*/
    color: #b3b3b2;
    width: 100%;
    height: 75%;
}

.bottom-bar-list-section{
    /*background-color: darkgoldenrod;*/
    height: 100%;
    width: 90%;
    float: left;
}

.bottom-bar-list {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Zamenitelj";
}
nav .bottom-bar-list li:hover{
    color: white;
    background-color: #aecacc;
}

.bottom-bar-list li a {
    padding: 30px 30px;
    margin: 12px 0px;
}

/*Search elements*/
.bottom-bar-search-section{
    height: 100%;
    width: 10%;
    float: left;
    background-position:center;
    background-repeat: no-repeat;
    background-image: url("../img/glass.png");
}
.bottom-bar-search-section:hover{
    background-color: #aecacc;
}

.opened-search-bar{
    width: 422px;
    height: 544px;
    position: relative;
    top: 27px;
    left: -361px;
    z-index: 0;
    float: left;
    display: none;
}
.opened-search-bar-content{
    border: 1px solid #aecacc;
    background-color: #f4f4f4;
}
.search-input-bar{
    height: 50px;
}
.search-input-bar input{
    background-color: #f4f4f4;
    color: #484848;
    float: right;
    margin-top: 15px;
    margin-right: 40px;
    border: 1px solid #aecacc;
    height: 18px;
    padding: 13px 10px;
    font-style: italic;
}
.offer-section{
    height: 218px;
    border-bottom: 1px dashed black
}
.thumbnail{
    border: 10px solid white;
    float: left;
    box-shadow: 0px 25px 40px -21px  ;
    /*TO DO Add box shadow * */
}
.offer-section-container{
    display: inline-block;
    margin-top: 40px;
    margin-left: 25px;
    ;
}
.offer-section-text{
    float:left;
    width: 180px;
    height: 150px;
    font-family: "Zamenitelj";
    color: black;
}
.offer-section-text h1{
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 25px;
    margin-top: 0;
}
.offer-section-text p{
    font-size: 14px;
    margin-left: 25px;

}


.view-all-section{
    height: 60px;
}
.view-all-caption{
    background-image: url("../img/arrow.png");
    height: 26px;
    line-height: 26px;
    display: inline-block;
    width: 143px;
    margin-top: 14px;
    margin-left: 135px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: "Zamenitelj";
}


/* Navigation styles */
nav{
    background-color: #f4f4f4;
    color: #484848;
    height: 102px;
    width: 100%;
}

/* Content wrapper */
.content-wrap{
    /*background-color: #f4f4f4;*/
    height: 463px;
    width: 100%;
}

/*Left content*/
aside{
    /*background-color: chartreuse;*/
    width: 35%;
    height: 93%;
    float: left;
    box-shadow: 0px 21px 50px -40px  ;
}

.caption-holder{
    height: 70px;
    background-color: #f4f4f4;
}
.caption-bg{
    position: relative;
    top: 13px;
    left: -16px;
    width: 240px;
    background-image: url("../img/block.png");
    height: 50px;
}
.caption-holder p{
    top: -23px;
    left: 17px;
    color: white;
    position: relative ;
    text-transform: uppercase;
    font-size: 30px;
    display: inline-block;
    margin: 0;
    padding: 0;
}


article{
    height: 90%;
    width: 86%;
    background-color: #f4f4f4;
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

article p{
    font-family: "LucidaGrande";
    padding: 0px 15px;
    font-size: 14px;
    color: #b3b3b2;

}

/*Right content*/
section{
    width: 65%;
    height: 93%;
    float: left;
    box-shadow: 0px 21px 50px -40px  ;
}


.horse-img{
    padding-left: 10px;
    padding-top: 8px;
}

